x-common: &common-config
  build:
    context: server/
    target: builder
  volumes:
    - ./server:/app

services:
  worker:
    command: nimble run worker
    <<: *common-config

  server:
    command: nimble run server
    <<: *common-config

  test:
    <<: *common-config
    command: nimble test

  proxy:
    ports:
      - "9000:80"
