x-common: &common-config
  image: ghcr.io/jshawl/nim-deployment:main
  env_file: .env
  volumes:
    - ./db:/app/db
  stop_signal: SIGINT
  pull_policy: always
  logging:
    driver: "json-file"
    options:
      max-size: "10m"
      max-file: "3"

services:
  worker:
    <<: *common-config
    command: /app/build/fetcher

  backups:
    <<: *common-config
    command: /app/build/backup
