x-common: &common-config
  image: ghcr.io/jshawl/nim-deployment-server:main
  env_file: .env
  volumes:
    - ./db:/app/db
  stop_signal: SIGINT
  pull_policy: always
  logging:
    driver: "json-file"
    options:
      max-size: "10m"
      max-file: "3"

services:
  worker:
    <<: *common-config
    command: /app/build/worker

  server:
    <<: *common-config
    command: /app/build/server

  backups:
    <<: *common-config
    command: /app/build/backup

  backup-uploader:
    image: amazon/aws-cli
    env_file: .env
    entrypoint: /bin/sh
    command:
      - -c
      - |
        while true; do
          sleep 11800
          echo "[$(date -u +"%FT%T")] syncing to s3..."
          aws s3 sync /app/db/ s3://$AWS_BUCKET_NAME/backups/ \
            --exclude "*" \
            --include "backup-*.db" \
            --endpoint-url $AWS_ENDPOINT_URL
          echo "[$(date -u +"%FT%T")] sync to s3 completed."
          sleep 74600
        done
    volumes:
      - ./db:/app/db

  frontend:
    image: ghcr.io/jshawl/nim-deployment-frontend:main
    pull_policy: always
    command: sh -c "cp -r /app/* /target/"
    volumes:
      - html:/target

  proxy:
    image: ghcr.io/jshawl/nim-deployment-proxy:main
    env_file: .env
    pull_policy: always
    ports:
      - "80:80"
    links:
      - server
    command: |
      /bin/bash -c "
      echo \$HTTP_AUTH_USER:\$(openssl passwd -apr1 \$HTTP_AUTH_PASSWORD) > /etc/nginx/.htpasswd
      exec nginx -g 'daemon off;'
      "
    volumes:
      - html:/usr/share/nginx/html

volumes:
  html:
