x-common: &common-config
  image: ghcr.io/jshawl/geo-server:main
  env_file: .env
  volumes:
    - ./db:/app/db
  stop_signal: SIGINT
  pull_policy: always

x-logging: &logging-config
  logging:
    driver: "json-file"
    options:
      max-size: "10m"
      max-file: "3"

services:
  worker:
    <<: [*common-config, *logging-config]
    command: /app/build/worker

  server:
    <<: [*common-config, *logging-config]
    command: /app/build/server

  backups:
    image: ghcr.io/jshawl/geo-backups:main
    pull_policy: always
    env_file: .env
    volumes:
      - ./db:/app/db

  frontend:
    image: ghcr.io/jshawl/geo-frontend:main
    pull_policy: always
    command: sh -c "cp -r /app/* /target/"
    volumes:
      - html:/target

  proxy:
    <<: *logging-config
    image: ghcr.io/jshawl/geo-proxy:main
    env_file: .env
    pull_policy: always
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    links:
      - server
    volumes:
      - html:/srv
      - caddy_data:/data
      - caddy_config:/config

volumes:
  html:
  caddy_data:
  caddy_config:
