x-common: &common-config
  image: ghcr.io/jshawl/nim-deployment-server:main
  env_file: .env
  volumes:
    - ./db:/app/db
  stop_signal: SIGINT
  pull_policy: always
  logging:
    driver: "json-file"
    options:
      max-size: "10m"
      max-file: "3"

services:
  worker:
    <<: *common-config
    command: /app/build/worker

  server:
    <<: *common-config
    command: /app/build/server

  backups:
    <<: *common-config
    command: /app/build/backup

  backup-uploader:
    image: amazon/aws-cli
    env_file: .env
    entrypoint: /bin/sh
    command:
      - -c
      - |
        while true; do
          sleep 11800
          echo "[$(date -u +"%FT%T")] syncing to s3..."
          aws s3 sync /app/db/ s3://$AWS_BUCKET_NAME/backups/ \
            --exclude "*" \
            --include "backup-*.db" \
            --endpoint-url $AWS_ENDPOINT_URL
          echo "[$(date -u +"%FT%T")] sync to s3 completed."
          sleep 74600
        done
    volumes:
      - ./db:/app/db

  proxy:
    image: nginx:1.29.3
    ports:
      - "80:80"
    configs:
      - source: nginx_config
        target: /etc/nginx/nginx.conf
    links:
      - server
    command: |
      /bin/bash -c "
      echo \$HTTP_AUTH_USER:\$(openssl passwd -apr1 \$HTTP_AUTH_PASSWORD) > /etc/nginx/.htpasswd
      exec nginx -g 'daemon off;'
      "
    volumes:
      - ./public:/usr/share/nginx/html

configs:
  nginx_config:
    content: |
      events {
        worker_connections 1024;
      }
      http {
        limit_req_zone $$binary_remote_addr zone=rtlmtr:10m rate=10r/s;
        upstream backend {
          server server:8080;
        }
        server {
          listen 80;
          root /usr/share/nginx/html;
          auth_basic "Auth required";
          auth_basic_user_file /etc/nginx/.htpasswd;
          limit_req zone=rtlmtr burst=20 nodelay;
          location / {
            index index.html
            try_files $$uri $$uri/ =404;
          }
          location /api {
            proxy_pass http://backend;
          }
        }
      }
