x-common: &common-config
  build:
    context: server/
    target: builder
  volumes:
    - ./server:/app

services:
  worker:
    command: nimble run worker
    <<: *common-config

  server:
    command: sh -c "find . -name '*.nim' | entr -rn nimble run server"
    <<: *common-config
    ports:
      - "8080:8080"

  test:
    <<: *common-config
    command: nimble test

  test-watch:
    <<: *common-config
    command: sh -c "find . -name '*.nim' | entr -rn nimble test"

  frontend:
    build:
      context: frontend/
      target: builder
    command: npm run dev
    volumes:
      - ./frontend:/app

  proxy:
    build:
      context: proxy/
    ports:
      - "9000:80"
    volumes:
      - ./proxy/nginx.dev.conf:/etc/nginx/nginx.conf
