localhost:80 {
	route /api/years {
		cache {
			ttl 24h
			stale 24h
			mode bypass_request
			otter
		}
		reverse_proxy server:8080
	}

	route /api* {
		reverse_proxy server:8080
	}

	reverse_proxy frontend:5173
}

geo.jshawl.com {
	basicauth {
		{$HTTP_AUTH_USER} {$HTTP_AUTH_PASSWORD}
	}
	root * /srv
	handle /api* {
		reverse_proxy server:8080
	}
	handle {
		try_files {path} {path}/ /index.html
		file_server
	}
}
